<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">
    <menu id="usr" title="msg://ca.ampautomation.ampata.menu/usr">
        <menu id="usrGen" title="msg://ca.ampautomation.ampata.menu/usrGen">
            <menu id="usrGenItem" title="msg://ca.ampautomation.ampata.menu/usrGenItem">
                <menu id="usrItemGenTag" title="msg://ca.ampautomation.ampata.menu/usrItemGenTag">
                    <item view="enty_UsrItemGenTag.main" title="msg://ca.ampautomation.ampata.view.usr.item.gen/usrItemGenTag0Main.menu"/>
                </menu>
                <menu id="usrItemGenFmla" title="msg://ca.ampautomation.ampata.menu/usrItemGenFmla">
                    <item view="enty_UsrItemGenFmla.main" title="msg://ca.ampautomation.ampata.view.usr.item.gen/usrItemGenFmla0Browse.menu"/>
                </menu>
            </menu>
            <menu id="usrNodeGen" title="Nodes">
                <menu id="usrNodeGenBasic" title="msg://ca.ampautomation.ampata.menu/usrNodeGenBasic">
                    <item view="enty_UsrNodeGenBasic.main" title="msg://ca.ampautomation.ampata.view.usr.node.gen/usrNodeGenBasic0Main.menu"/>
                    <item view="enty_UsrNodeGenBasic.list"
                          title="msg://ca.ampautomation.ampata.view.usrnodegenbasic/usrNodeGenBasicListView.title"/>
                </menu>
                <menu id="usrNodeGenUnion" title="msg://ca.ampautomation.ampata.menu/usrNodeGenUnion">
                    <item view="enty_UsrNodeGenUnion.main" title="msg://ca.ampautomation.ampata.view.usr.node.gen/usrNodeGenUnion0Main.menu"/>
                </menu>
                <menu id="usrNodeGenAgent" title="msg://ca.ampautomation.ampata.menu/usrNodeGenAgent">
                    <item view="enty_UsrNodeGenAgent.main" title="msg://ca.ampautomation.ampata.view.usr.node.gen/usrNodeGenAgent0Main.menu"/>
                </menu>
                <menu id="usrNodeGenChan" title="msg://ca.ampautomation.ampata.menu/usrNodeGenChan">
                    <item view="enty_UsrNodeGenChan.main" title="msg://ca.ampautomation.ampata.view.usr.node.gen/usrNodeGenChan0Main.menu"/>
                </menu>
                <menu id="usrGenDoc" title="msg://ca.ampautomation.ampata.menu/usrGenDoc">
                    <item view="enty_UsrNodeGenDocVer.main" title="msg://ca.ampautomation.ampata.view.usr.node.gen/usrNodeGenDocVer0Main.menu"/>
                    <item view="enty_UsrNodeGenDocFrg.main" title="msg://ca.ampautomation.ampata.view.usr.node.gen/usrNodeGenDocFrg0Main.menu"/>
                </menu>
                <menu id="usrNodeGenFile" title="msg://ca.ampautomation.ampata.menu/usrNodeGenFile">
                    <item view="enty_UsrNodeGenFile.main" title="msg://ca.ampautomation.ampata.view.usr.node.gen/usrNodeGenFile0Main.menu"/>
                </menu>
            </menu>
            <menu id="usrEdgeGen" title="Edges">
                <menu id="usrEdgeGenBasic" title="msg://ca.ampautomation.ampata.menu/usrEdgeGenBasic">
                    <item view="enty_UsrEdgeGenBasic.main" title="msg://ca.ampautomation.ampata.view.usr.node.gen/usrNodeGenBasic0Main.menu"/>
                </menu>
            </menu>
        </menu>
        <menu id="usrFin" title="msg://ca.ampautomation.ampata.menu/usrFin">
            <menu id="usrNodeFinAcct" title="msg://ca.ampautomation.ampata.menu/usrNodeFinAcct">
                <item view="enty_UsrNodeFinAcct.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinAcct0Main.menu"/>
                <item view="enty_UsrNodeFinAcctType.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinAcctType0Main.menu"/>
            </menu>
            <menu id="usrNodeFinDept" title="msg://ca.ampautomation.ampata.menu/usrNodeFinDept">
                <item view="enty_UsrNodeFinDept.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinDept0Main.menu"/>
            </menu>
            <menu id="usrNodeFinBal" title="msg://ca.ampautomation.ampata.menu/usrNodeFinBal">
                <item view="enty_UsrNodeFinBalSet.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinBalSet0Main.menu"/>
                <item view="enty_UsrNodeFinBalSetType.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinBalSetType0Main.menu"/>
                <separator> --- </separator>
                <item view="enty_UsrNodeFinBal.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinBal0Main.menu"/>
            </menu>
            <menu id="usrNodeFinStmt" title="msg://ca.ampautomation.ampata.menu/usrNodeFinStmt">
                <item view="enty_UsrNodeFinStmt.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinStmt0Main.menu"/>
                <item view="enty_UsrNodeFinStmtItm.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinStmtItm0Main.menu"/>
            </menu>
            <separator> --- </separator>
            <menu id="usrNodeFinTxact" title="msg://ca.ampautomation.ampata.menu/usrNodeFinTxact">
                <item view="enty_UsrNodeFinTxactSet.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinTxactSet0Main.menu"/>
                <item view="enty_UsrNodeFinTxactSetType.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinTxactSetType0Main.menu"/>
                <separator> --- </separator>
                <item view="enty_UsrNodeFinTxact.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinTxact0Main.menu"/>
                <item view="enty_UsrNodeFinTxactItm.main" title="msg://ca.ampautomation.ampata.view.usr.node.fin/usrNodeFinTxactItm0Main.menu"/>
            </menu>
            <menu id="usrFinItem" title="msg://ca.ampautomation.ampata.menu/usrFinItem">
                <item view="enty_UsrItemFinHow.main" title="msg://ca.ampautomation.ampata.view.usr.item.fin/usrItemFinHow0Main.menu"/>
                <item view="enty_UsrItemFinWhat.main" title="msg://ca.ampautomation.ampata.view.usr.item.fin/usrItemFinWhat0Main.menu"/>
                <item view="enty_UsrItemFinWhy.main" title="msg://ca.ampautomation.ampata.view.usr.item.fin/usrItemFinWhy0Main.menu"/>
            </menu>
        </menu>
        <menu id="usrTngy" title="msg://ca.ampautomation.ampata.menu/usrTngy">
            <menu id="usrNodeTngyEquip" title="Equipment">
                <item view="enty_UsrNodeTngyEquip.main" title="msg://ca.ampautomation.ampata.view.usr.tngy/usrNodeTngyEquip0Main.menu"/>
            </menu>
        </menu>
        <menu id="usrBase" title="msg://ca.ampautomation.ampata.menu/usrBase">
            <menu id="usrItemBase" title="msg://ca.ampautomation.ampata.menu/usrItemBase">
                <item view="enty_UsrItemBase.main" title="msg://ca.ampautomation.ampata.view.usr.item.base/usrItemBase0Main.menu"/>
                <item view="enty_UsrItemBaseType.main" title="msg://ca.ampautomation.ampata.view.usr.item.base/usrItemBaseType0Main.menu"/>
            </menu>
            <menu id="usrNodeBase" title="msg://ca.ampautomation.ampata.menu/usrNodeBase">
                <item view="enty_UsrNodeBase.main" title="msg://ca.ampautomation.ampata.view.usr.node.base/usrNodeBase0Main.menu"/>
                <item view="enty_UsrNodeBaseType.main" title="msg://ca.ampautomation.ampata.view.usr.node.base/usrNodeBaseType0Main.menu"/>
            </menu>
            <menu id="usrEdgeBase" title="msg://ca.ampautomation.ampata.menu/usrEdgeBase">
                <item view="enty_UsrEdgeBase.main" title="msg://ca.ampautomation.ampata.view.usr.edge.base/usrEdgeBase0Main.menu"/>
                <item view="enty_UsrEdgeBaseType.main" title="msg://ca.ampautomation.ampata.view.usr.edge.base/usrEdgeBaseType0Main.menu"/>
            </menu>
        </menu>
    </menu>
    <menu id="sys" title="msg://ca.ampautomation.ampata.menu/sys">
        <menu id="sysGen" title="msg://ca.ampautomation.ampata.menu/sysGen">
            <menu id="sysGenItem" title="msg://ca.ampautomation.ampata.menu/sysGenItem">

            </menu>
        </menu>
        <menu id="sysFin" title="msg://ca.ampautomation.ampata.menu/sysFin">
            <menu id="sysNodeFinCurcy" title="msg://ca.ampautomation.ampata.menu/sysNodeFinCurcy">
                <item view="enty_SysNodeFinCurcy.main" title="msg://ca.ampautomation.ampata.view.sys.node.fin/sysNodeFinCurcy0Main.menu"/>
                <item view="enty_SysNodeFinCurcyExchRate.main" title="msg://ca.ampautomation.ampata.view.sys.node.fin/sysNodeFinCurcyExchRate0Main.menu"/>
            </menu>
        </menu>
        <menu id="sysBase" title="msg://ca.ampautomation.ampata.menu/sysBase">
            <menu id="sysItemBase" title="msg://ca.ampautomation.ampata.menu/sysItemBase">
            </menu>
            <menu id="sysNodeBase" title="msg://ca.ampautomation.ampata.menu/sysNodeBase">
                <item view="enty_SysNodeBase.main" title="msg://ca.ampautomation.ampata.view.sys.node.base/sysNodeBase0Main.menu"/>
                <item view="enty_SysNodeBaseType.main" title="msg://ca.ampautomation.ampata.view.sys.node.base/sysNodeBaseType0Main.menu"/>
            </menu>
            <menu id="sysEdgeBase" title="msg://ca.ampautomation.ampata.menu/sysEdgeBase">
            </menu>
        </menu>
    </menu>
    <menu id="admin" title="msg://ca.ampautomation.ampata.menu/admin">
        <item view="Ampata_User.list" title="msg://ca.ampautomation.ampata.view.user/User0List.caption"/>
    </menu>

</menu-config>