<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="gen" caption="General">
        <menu id="genAgent" caption="Agent">
            <item screen="ampata_GenAgent.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.gen/genAgentBrowse.menu"/>
        </menu>
        <menu id="genChan" caption="Channel">
            <item screen="ampata_GenChan.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.gen/genChanBrowse.menu"/>
            <item screen="ampata_GenChan.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.gen/genChanBrowse2.menu"/>
        </menu>
        <menu id="genDoc" caption="Document">
            <item screen="ampata_GenDocVer.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.gen/genDocVerBrowse.menu"/>
            <item screen="ampata_GenDocVer.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.gen/genDocVerBrowse2.menu"/>
        </menu>
        <menu id="genTag" caption="Tag">
            <item screen="ampata_GenTag.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.gen/genTagBrowse.menu"/>
        </menu>
    </menu>
    <menu id="fin" caption="Finance">
        <menu id="finAcct" caption="Accounts">
            <item screen="ampata_FinAcct.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finAcctBrowse.menu"/>
            <item screen="ampata_FinAcct.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finAcctBrowse2.menu"/>
            <item screen="ampata_FinAcctType.browse" caption="msg://ca.ampautomation.ampata.screen.sysnodetype.fin/finAcctTypeBrowse.menu"/>
        </menu>
        <menu id="finDept" caption="Departments">
            <item screen="ampata_FinDept.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finDeptBrowse.menu"/>
            <item screen="ampata_FinDept.browse2"
                  caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finDeptBrowse2.menu"/>
        </menu>
        <menu id="finCurcy" caption="Currencies">
            <item screen="ampata_FinCurcy.browse"
                  caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finCurcyBrowse.menu"/>
            <item screen="ampata_FinCurcy.browse2"
                  caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finCurcyBrowse2.menu"/>
        </menu>
        <menu id="finBal" caption="Balances">
            <item screen="ampata_FinBalSet.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finBalSetBrowse2.menu"/>
            <item screen="ampata_FinBal.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finBalBrowse2.menu"/>
        </menu>
        <menu id="finStmt" caption="Statements">
            <item screen="ampata_FinStmt.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finStmtBrowse.menu"/>
            <item screen="ampata_FinStmt.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finStmtBrowse2.menu"/>
            <item screen="ampata_FinStmtItm.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finStmtItmBrowse.menu"/>
            <item screen="ampata_FinStmtItm.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finStmtItmBrowse2.menu"/>
        </menu>
        <separator> --- </separator>
        <menu id="finTxact" caption="Transactions">
            <item screen="ampata_FinTxset.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finTxsetBrowse.menu"/>
            <item screen="ampata_FinTxset.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finTxsetBrowse2.menu"/>
            <separator> --- </separator>
            <item screen="ampata_FinTxact.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finTxactBrowse.menu"/>
            <item screen="ampata_FinTxact.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finTxactBrowse2.menu"/>
            <separator> --- </separator>
            <item screen="ampata_FinTxactItm.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finTxactItmBrowse.menu"/>
            <item screen="ampata_FinTxactItm.browse2" caption="msg://ca.ampautomation.ampata.screen.sysnode.fin/finTxactItmBrowse2.menu"/>
        </menu>
        <menu id="finEntity" caption="Entities">
            <item screen="ampata_FinFmla.browse" caption="msg://ca.ampautomation.ampata.screen.finfmla/finFmlaBrowse.menu"/>
            <item screen="ampata_FinHow.browse" caption="msg://ca.ampautomation.ampata.screen.finhow/finHowBrowse.menu"/>
            <item screen="ampata_FinWhat.browse" caption="msg://ca.ampautomation.ampata.screen.finwhat/finWhatBrowse.menu"/>
            <item screen="ampata_FinWhy.browse" caption="msg://ca.ampautomation.ampata.screen.finwhy/finWhyBrowse.menu"/>
        </menu>
    </menu>
    <menu id="tngy" caption="Tangible Asset">
        <menu id="tngyEquip" caption="Equipment">
            <item screen="ampata_TngyEquip.browse2"
                  caption="msg://ca.ampautomation.ampata.screen.sysnode.tngy/tngyEquipBrowse2.menu"/>
        </menu>
    </menu>
    <menu id="ext" caption="External Systems">
        <menu id="extCurcyExchRate" caption="Curency Exch Rate">
            <item screen="ampata_ExtCurcyExchRate.browse2" caption="msg://ca.ampautomation.ampata.screen.ext/extCurcyExchRateBrowse2.menu"/>
        </menu>
    </menu>
    <menu id="admin" caption="Administration">
        <menu id="sysNode" caption="System">
            <item screen="ampata_SysNode.browse" caption="msg://ca.ampautomation.ampata.screen.sysnode/sysNodeBrowse.menu"/>
            <item screen="ampata_SysNodeType.browse" caption="msg://ca.ampautomation.ampata.screen.sysnodetype/sysNodeTypeBrowse.menu"/>
        </menu>
        <item screen="ampata_User.browse" caption="msg://ca.ampautomation.ampata.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <separator> --- </separator>
        <item screen="mten_Tenant.browse"/>
        <item screen="ui_JmxConsoleScreen"/>
        <item screen="sec_ResourceRoleModel.browse"
              caption="msg://io.jmix.securityui/menu.sec_ResourceRoleModel.browse"/>
        <item screen="sec_RowLevelRoleModel.browse"
              caption="msg://io.jmix.securityui/menu.sec_RowLevelRoleModel.browse"/>
        <item screen="entityInspector.browse"/>
    </menu>


</menu-config>