<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">
    <menu id="usr" caption="msg://ca.ampautomation.ampata.menu/usr">
        <menu id="usrGen" caption="msg://ca.ampautomation.ampata.menu/usrGen">
            <item screen="enty_UsrGen.main" caption="msg://ca.ampautomation.ampata.screen.usr.gen/usrGenMain.menu"/>

            <menu id="usrGenTag" caption="msg://ca.ampautomation.ampata.menu/usrGenTag">
                <item screen="enty_UsrGenTag.main" caption="msg://ca.ampautomation.ampata.screen.usr.gen/usrGenTagMain.menu"/>
            </menu>
            <menu id="usrGenAgent" caption="msg://ca.ampautomation.ampata.menu/usrGenAgent">
                <item screen="enty_UsrGenAgent.main" caption="msg://ca.ampautomation.ampata.screen.usr.gen/usrGenAgentMain.menu"/>
            </menu>
            <menu id="usrGenChan" caption="msg://ca.ampautomation.ampata.menu/usrGenChan">
                <item screen="enty_UsrGenChan.main" caption="msg://ca.ampautomation.ampata.screen.usr.gen/usrGenChanMain.menu"/>
            </menu>
            <menu id="usrGenDoc" caption="msg://ca.ampautomation.ampata.menu/usrGenDoc">
                <item screen="enty_UsrGenDocVer.main" caption="msg://ca.ampautomation.ampata.screen.usr.gen/usrGenDocVerMain.menu"/>
            </menu>
            <menu id="usrGenFile" caption="msg://ca.ampautomation.ampata.menu/usrGenFile">
                <item screen="enty_UsrGenFile.main" caption="msg://ca.ampautomation.ampata.screen.usr.gen/usrGenFileMain.menu"/>
            </menu>
        </menu>
        <menu id="usrFin" caption="msg://ca.ampautomation.ampata.menu/usrFin">
            <menu id="usrFinAcct" caption="msg://ca.ampautomation.ampata.menu/usrFinAcct">
                <item screen="enty_UsrFinAcct.main" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinAcctMain.menu"/>
                <item screen="enty_UsrFinAcctType.browse" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinAcctTypeBrowse.menu"/>
            </menu>
            <menu id="usrFinDept" caption="msg://ca.ampautomation.ampata.menu/usrFinDept">
                <item screen="enty_UsrFinDept.main" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinDeptMain.menu"/>
            </menu>
            <menu id="usrFinBal" caption="msg://ca.ampautomation.ampata.menu/usrFinBal">
                <item screen="enty_UsrFinBalSet.main" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinBalSetMain.menu"/>
                <item screen="enty_UsrFinBal.main" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinBalMain.menu"/>
            </menu>
            <menu id="usrFinStmt" caption="msg://ca.ampautomation.ampata.menu/usrFinStmt">
                <item screen="enty_UsrFinStmt.main" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinStmtMain.menu"/>
                <item screen="enty_UsrFinStmtItm.main" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinStmtItmMain.menu"/>
            </menu>
            <separator> --- </separator>
            <menu id="usrFinTxact" caption="msg://ca.ampautomation.ampata.menu/usrFinTxact">
                <item screen="enty_UsrFinTxactSet.main" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinTxactSetMain.menu"/>
                <item screen="enty_UsrFinTxact.main" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinTxactMain.menu"/>
                <item screen="enty_UsrFinTxactItm.main" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinTxactItmMain.menu"/>
            </menu>
            <menu id="usrFinItem" caption="msg://ca.ampautomation.ampata.menu/usrFinItem">
                <item screen="enty_UsrFinFmla.browse" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinFmlaBrowse.menu"/>
                <item screen="enty_UsrFinHow.browse" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinHowBrowse.menu"/>
                <item screen="enty_UsrFinWhat.browse" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinWhatBrowse.menu"/>
                <item screen="enty_UsrFinWhy.browse" caption="msg://ca.ampautomation.ampata.screen.usr.fin/usrFinWhyBrowse.menu"/>
            </menu>
        </menu>
        <menu id="usrTngy" caption="msg://ca.ampautomation.ampata.menu/usrTngy">
            <menu id="usrTngyEquip" caption="Equipment">
                <item screen="enty_UsrTngyEquip.main" caption="msg://ca.ampautomation.ampata.screen.usr.tngy/usrTngyEquipMain.menu"/>
            </menu>
        </menu>
        <menu id="usrComn" caption="msg://ca.ampautomation.ampata.menu/usrCmn">
            <menu id="usrCmnItem" caption="msg://ca.ampautomation.ampata.menu/usrCmnItem">
                <item screen="enty_UsrItem.main" caption="msg://ca.ampautomation.ampata.screen.usr/usrItemMain.menu"/>
                <item screen="enty_UsrItemType.main" caption="msg://ca.ampautomation.ampata.screen.usr/usrItemTypeMain.menu"/>
            </menu>
            <menu id="usrCmnNode" caption="msg://ca.ampautomation.ampata.menu/usrCmnNode">
                <item screen="enty_UsrNode.main" caption="msg://ca.ampautomation.ampata.screen.usr/usrNodeMain.menu"/>
                <item screen="enty_UsrNodeType.main" caption="msg://ca.ampautomation.ampata.screen.usr/usrNodeTypeMain.menu"/>
            </menu>
            <menu id="usrCmnEdge" caption="msg://ca.ampautomation.ampata.menu/usrCmnEdge">
                <item screen="enty_UsrEdge.main" caption="msg://ca.ampautomation.ampata.screen.usr/usrEdgeMain.menu"/>
                <item screen="enty_UsrEdgeType.main" caption="msg://ca.ampautomation.ampata.screen.usr/usrEdgeTypeMain.menu"/>
            </menu>
        </menu>
    </menu>
    <menu id="sys" caption="msg://ca.ampautomation.ampata.menu/sys">
        <menu id="sysFin" caption="msg://ca.ampautomation.ampata.menu/sysFin">
            <menu id="sysFinCurcy" caption="msg://ca.ampautomation.ampata.menu/sysFinCurcy">
                <item screen="enty_SysFinCurcy.main" caption="msg://ca.ampautomation.ampata.screen.sys.fin/sysFinCurcyMain.menu"/>
                <item screen="enty_SysFinCurcyExchRate.main" caption="msg://ca.ampautomation.ampata.screen.sys.fin/sysFinCurcyExchRateMain.menu"/>
            </menu>
        </menu>
        <menu id="sysComn" caption="msg://ca.ampautomation.ampata.menu/sysCmn">
            <menu id="sysCmnNode" caption="msg://ca.ampautomation.ampata.menu/sysCmnNode">
                <item screen="enty_SysNode.main" caption="msg://ca.ampautomation.ampata.screen.sys/sysNodeMain.menu"/>
                <item screen="enty_SysNodeType.main" caption="msg://ca.ampautomation.ampata.screen.sys/sysNodeTypeMain.menu"/>
            </menu>
            <menu id="sysCmnItem" caption="msg://ca.ampautomation.ampata.menu/sysCmnItem">
            </menu>
        </menu>
    </menu>
    <menu id="admin" caption="msg://ca.ampautomation.ampata.menu/admin">
        <item screen="enty_User.browse" caption="msg://ca.ampautomation.ampata.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <separator> --- </separator>
        <item screen="mten_Tenant.browse"/>
        <item screen="ui_JmxConsoleScreen"/>
        <item screen="sec_ResourceRoleModel.browse"
              caption="msg://io.jmix.securityui/menu.sec_ResourceRoleModel.browse"/>
        <item screen="sec_RowLevelRoleModel.browse"
              caption="msg://io.jmix.securityui/menu.sec_RowLevelRoleModel.browse"/>
        <item screen="entityInspector.browse"/>
    </menu>


</menu-config>